@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Index
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                <div class="row form-group">
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="@ViewBag.SearchString" name="searchString" />
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <table class="table">
                        <tr>
                            <th>
                                Sản phẩm
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Giá ưu đãi
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Bảo hành
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromotionPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detail)
                                </td>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </table>
                   @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->